* {
  margin: 0px;
  padding: 0px;
}
html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Manrope', sans-serif;
  padding-bottom:100px;
}

footer {
  position: absolute;
  left: .5em;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow:hidden;
  /* text-align: center; */
  color: rgb(72, 72, 72);
  top: -110;
}

footer a {
  color: rgb(72, 72, 72);
  display: flex;
}

footer a:hover {
  color:darkgray;
}

footer span {
  font-size: 1.2em;
  margin-left: .3em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: gray;
}


#navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  font-size: 1.8em;

  padding: 0.3em;
  margin-top: 1em;
  margin-bottom: .3em;

  /* border-bottom: 1px solid gray; */
}

#brand a:hover {
  color: black;
}

#brand * {
  font-size: 1.5em;
}

#links a {
  margin-left: 1em;
}
#links a:hover {
  color: gray;
}

#hamburger {
  display: none;
}
#mobile-links {
    display: none;
}

#main {
  display: flex;
  justify-content: center;

  margin-top:3em
}

#content {
  max-width: 1000px;
  padding-right: 1em;
  padding-left: 1em;
}

#content img {
  border-radius: .7em;
}

#banner {
  text-align: center;
}

#banner img {
  max-width: 100%;
}

.blurb {
  text-align: center;
  max-width: 500px;
  margin: auto;
}


#mobile-links {
  display: none;
  width: 100%;
  text-align: center;
  margin-bottom: .8em;
}

#mobile-links a {
  display: block;
  font-size: 1.5em;
}

#mobile-links a:not(:last-of-type) {
  margin-bottom: .3em;
}

@media only screen and (max-width: 1200px) {
  #brand {
    font-size: .8em;
  }

  #links {
    font-size: .8em;
  }

}

@media only screen and (max-width: 1000px) {

  #brand {
    font-size: .6em;
  }

  #links {
    font-size: .6em;
  }

}

@media only screen and (max-width: 800px) {
  #navbar {
    align-items: center;
  }
  
  #brand {
    font-size: .5em;
  }

  #links {
    display: none;
  }

  #hamburger {
    display: block;
  }
  
  #main {
    flex-wrap: wrap;
  }
}


/*
Component Styles
*/

.list {
  margin: 1em;
}

.list li {
  list-style-position: inside;
}